### Step 1 : Load Trained Model

In [1]:
import spacy
import docx2txt

In [2]:
# !pip install docx2txt

In [3]:
custNlp = spacy.load(r"./prodigyModel/model-best") #load the best model

/home/abhijit/anaconda3/envs/hrAnalytics/lib/python3.8/site-packages/spacy/util.py:865: UserWarning: [W095] Model 'en_pipeline' (0.0.0) was trained with spaCy v3.2 and may not be 100% compatible with the current version (3.4.1). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [4]:
# !python -m spacy validate

### Step 2: Read Source File and Convert to Text

In [5]:
Cv_PathToTest="./ResumeData/HarishBharatMali.docx"
cv_text = docx2txt.process(Cv_PathToTest)

In [13]:
# cv_text

### Step 3: Load Object

In [6]:
doc = custNlp(cv_text) # input sample text

spacy.displacy.render(doc, style="ent", jupyter=True) # display in Jupyter
[(X, X.ent_type_) for X in doc if X.ent_type_]

[(Harish, 'name'),
 (Bharat, 'name'),
 (Mali, 'name'),
 (IT, 'designation'),
 (professional, 'designation'),
 (6.8, 'Total_Experience'),
 (years, 'Total_Experience'),
 (of, 'Total_Experience'),
 (experience, 'Total_Experience'),
 (Oracle, 'skills'),
 (Cassandra, 'skills'),
 (Database, 'skills'),
 (administration, 'skills'),
 (3, 'Total_Experience'),
 (years, 'Total_Experience'),
 (of, 'Total_Experience'),
 (experience, 'Total_Experience'),
 (&, 'Total_Experience'),
 (6.8, 'Total_Experience'),
 (Years, 'Total_Experience'),
 (of, 'Total_Experience'),
 (work, 'Total_Experience'),
 (experience, 'Total_Experience'),
 (Database, 'designation'),
 (Administrator, 'designation'),
 (Process, 'designation'),
 (Associate, 'designation'),
 (Tata, 'company_names'),
 (Consultancy, 'company_names'),
 (Services, 'company_names'),
 (Limited, 'company_names'),
 (Tata, 'company_names'),
 (Consultancy, 'company_names'),
 (Services, 'company_names'),
 (Limited, 'company_names'),
 (Pune, 'Location'),
 (February, 'Experience'),
 (2016, 'Experience'),
 (to, 'Experience'),
 (present, 'Experience'),
 (Process, 'designation'),
 (Associate, 'designation'),
 (Tata, 'company_names'),
 (Consultancy, 'company_names'),
 (Services, 'company_names'),
 (Limited, 'company_names'),
 (Pune, 'Location'),
 (September, 'Experience'),
 (2014, 'Experience'),
 (to, 'Experience'),
 (February, 'Experience'),
 (2016, 'Experience'),
 (Database, 'designation'),
 (Administrator, 'designation'),
 (Oracle, 'skills'),
 (Cassandra, 'skills'),
 (Linux, 'skills'),
 (Unix, 'skills'),
 (Oracle, 'skills'),
 (Oracle, 'skills'),
 (19c, 'skills'),
 (Cassandra, 'skills'),
 (Talena, 'skills'),
 (Datastax, 'skills'),
 (Oracle, 'company_names'),
 (Enterprise, 'company_names'),
 (Oracle, 'skills'),
 (12c, 'skills'),
 (Oracle, 'skills'),
 (19c, 'skills'),
 (ServiceNow, 'skills'),
 (Oracle, 'company_names'),
 (Enterprise, 'company_names'),
 (Unix, 'skills'),
 (Linux, 'skills'),
 (Oracle, 'designation'),
 (Database, 'designation'),
 (Administrator, 'designation'),
 (Oracle, 'skills'),
 (Oracle, 'skills'),
 (server, 'skills'),
 (ITIL, 'skills'),
 (Framework, 'skills'),
 (Change, 'skills'),
 (Management, 'skills'),
 (Problem, 'Soft_Skills'),
 (Management, 'Soft_Skills'),
 (ASM, 'skills'),
 (Cassandra, 'skills'),
 (Datastax, 'skills'),
 (ServiceNow, 'skills'),
 (Unix, 'skills'),
 (Linux, 'skills'),
 (Cassandra, 'skills'),
 (Database, 'designation'),
 (Administrator, 'designation'),
 (Excel, 'skills'),
 (Process, 'designation'),
 (Associate, 'designation'),
 (Post, 'degree'),
 (Graduation, 'degree'),
 (Bharati, 'college_name'),
 (Vidyapeeth, 'college_name'),
 (University, 'college_name'),
 (., 'college_name'),
 (Bachelor, 'degree'),
 (of, 'degree'),
 (Commerce, 'degree'),
 (15, 'Experience'),
 (June, 'Experience'),
 (1991, 'Experience'),
 (English, 'Languages_Name'),
 (Hindi, 'Languages_Name'),
 (Marathi, 'Languages_Name'),
 (Pune, 'Location')]

### Step 4: Extract output Resume Entities

In [10]:
for entity in doc.ents:
  print(entity.label_, ' : ', entity.text)

name  :  Harish Bharat Mali
designation  :  IT professional
Total_Experience  :  6.8 years of experience
skills  :  Oracle
skills  :  Cassandra Database administration
Total_Experience  :  3 years of experience &
Total_Experience  :  6.8 Years of work experience
designation  :  Database Administrator
designation  :  Process Associate
company_names  :  Tata Consultancy Services Limited
company_names  :  Tata Consultancy Services Limited
Location  :  Pune
Experience  :  February 2016 to present
designation  :  Process Associate
company_names  :  Tata Consultancy Services Limited
Location  :  Pune
Experience  :  September 2014 to February 2016
designation  :  Database Administrator
skills  :  Oracle
skills  :  Cassandra
skills  :  Linux
skills  :  Unix
skills  :  Oracle
skills  :  Oracle 19c
skills  :  Cassandra
skills  :  Talena
skills  :  Datastax
company_names  :  Oracle Enterprise
skills  :  Oracle 12c
skills  :  Oracle 19c
skills  :  ServiceNow
company_names  :  Oracle Enterprise
skills  :  Unix
skills  :  Linux
designation  :  Oracle Database Administrator
skills  :  Oracle
skills  :  Oracle server
skills  :  ITIL Framework
skills  :  Change Management
Soft_Skills  :  Problem Management
skills  :  ASM
skills  :  Cassandra
skills  :  Datastax
skills  :  ServiceNow
skills  :  Unix
skills  :  Linux
skills  :  Cassandra
designation  :  Database Administrator
skills  :  Excel
designation  :  Process Associate
degree  :  Post Graduation
college_name  :  Bharati Vidyapeeth University.
degree  :  Bachelor of Commerce
Experience  :  15 June 1991
Languages_Name  :  English
Languages_Name  :  Hindi
Languages_Name  :  Marathi
Location  :  Pune

In [17]:
# post-procesing

In [29]:
#for skills
resume_data_skills=[]
for entity in doc.ents:
    if entity.label_ =="skills":
          resume_data_skills.append(entity.text)

In [51]:
print(resume_data_skills)
print(len(resume_data_skills))

['Oracle', 'Cassandra Database administration', 'Oracle', 'Cassandra', 'Linux', 'Unix', 'Oracle', 'Oracle 19c', 'Cassandra', 'Talena', 'Datastax', 'Oracle 12c', 'Oracle 19c', 'ServiceNow', 'Unix', 'Linux', 'Oracle', 'Oracle server', 'ITIL Framework', 'Change Management', 'ASM', 'Cassandra', 'Datastax', 'ServiceNow', 'Unix', 'Linux', 'Cassandra', 'Excel']
28

### Step 5: Extract Entities from JD

In [15]:
job_discription="Cassandra / Database Engineer    The person in this role will be responsible for creating an AWS/Azure based NoSQL solution to meet customer’s data requirements.  Customer uses Cassandra specifically and this person should be well-verse with complete working methodology of Cassandra service with AWS and should be able to solve large-scale distributed systems problems.  Should be able to deep dive into customers problems at database level and suggest solution for optimization and performance improvement.    Responsibilities:  • Design, build, enhance the data model of the Cassandra that is hosted in AWS/Azure and provide recommendations for performance improvement of systems.  • Be point-of-contact for customer in terms of data needs that are hosted in Cassandra or DataStax  • Build the DB to scale to meet customers’ needs and implement the needed performance engineering aspects into the system, to make the system perform optimally.  • Should be willing to work on DynamoDB and/or MongoDB as well.  Requirements:  • 4-7 years of overall experience, with at least 2 years of relevant experience in managing NoSQL databases (Cassandra) and in designing and implementing distributed systems.  • Hands-on experience and in-depth knowledge of Cassandra is required.  Experience in any other NoSQL DB (MongoDB, DynamoDB, Hadoop etc.) would be added advantage.  • Experience in DataStax is certainly a plus  • Experience with RDBMS along with SQL is added plus.  • Should be able to recommend and modify the parameters for the DynamoDB in AWS environment.  • Should have good understanding of cloud deployment models  • Should have knowledge of querying data in JSON format using any data viewing tools.  • Complete understanding of differences between SQL, NoSQL, GraphDB etc. is required  • Should have in-depth knowledge and experience handling data models that fit various data types.  Education:  • B.E/B.Tech/MCA or related disciplines"

In [20]:
job_doc = custNlp(job_discription)

In [21]:
for entity in job_doc.ents:
  print(entity.label_, ' : ', entity.text)

skills  :  Cassandra
designation  :  Database Engineer
skills  :  AWS
skills  :  Azure
skills  :  Cassandra service
skills  :  AWS
skills  :  AWS
skills  :  Cassandra
skills  :  MongoDB
skills  :  NoSQL databases
skills  :  Cassandra
skills  :  NoSQL DB
skills  :  MongoDB
skills  :  DynamoDB
skills  :  Hadoop
skills  :  RDBMS
skills  :  AWS
skills  :  JSON
skills  :  SQL
skills  :  NoSQL
degree  :  MCA

In [32]:
#for skills
jd_data_skills=[]
for entity in job_doc.ents:
    if entity.label_ =="skills":
          jd_data_skills.append(entity.text)

In [52]:
print(jd_data_skills)
print(len(jd_data_skills))

['Cassandra', 'AWS', 'Azure', 'Cassandra service', 'AWS', 'AWS', 'Cassandra', 'MongoDB', 'NoSQL databases', 'Cassandra', 'NoSQL DB', 'MongoDB', 'DynamoDB', 'Hadoop', 'RDBMS', 'AWS', 'JSON', 'SQL', 'NoSQL']
19

## Step 6: Vectorization (Embeddings)
     
     - TFIDF
     - word2vec (genism)

In [35]:
# !pip install --upgrade gensim

In [36]:
# from gensim.models import Word2Vec

In [38]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.1.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (31.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.2/31.2 MB 1.1 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01m
Collecting joblib>=1.0.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 1.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy>=1.17.3 in /home/abhijit/anaconda3/envs/hrAnalytics/lib/python3.8/site-packages (from scikit-learn) (1.23.4)
Requirement already satisfied: scipy>=1.3.2 in /home/abhijit/anaconda3/envs/hrAnalytics/lib/python3.8/site-packages (from scikit-learn) (1.9.3)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.1.3 threadpoolctl-3.1.0

In [69]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

In [53]:
# Create TfidfVectorizer object
vectorizer = TfidfVectorizer()

# Generate matrix of word vectors
tfidf_matrix_resume_data_skills = vectorizer.fit_transform(resume_data_skills)
tfidf_matrix_jd_data_skills = vectorizer.transform(jd_data_skills)
# Print the shape of tfidf_matrix
# print(tfidf_matrix_resume_data_skills.shape)
# print(tfidf_matrix_jd_data_skills.shape)

## Step 7: Distance Matrix
    - Cosine Similarity

In [59]:
cosine = cosine_similarity(tfidf_matrix_resume_data_skills, tfidf_matrix_jd_data_skills)
print(cosine)

[[0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.44410998 0.         0.         0.44410998 0.         0.
  0.44410998 0.         0.         0.44410998 0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [1.         0.         0.         1.         0.         0.
  1.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [1.         0.         0.         1.         0.         0.
  1.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [1.         0.         0.         1.         0.         0.
  1.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [1.         0.         0.         1.         0.         0.
  1.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]]

In [60]:
print(cosine.shape)

(28, 19)

In [62]:
print(cosine.max())

1.0

In [63]:
# get matching values

In [108]:

max = cosine.max()
response_index = []
# thread
# if score is more than threthold
if (max > 0.7):            
        response_index.append(np.where(cosine == max)[0][0])
        print(response_index)

[(array([ 3,  3,  3,  3,  8,  8,  8,  8, 21, 21, 21, 21, 26, 26, 26, 26]), array([0, 3, 6, 9, 0, 3, 6, 9, 0, 3, 6, 9, 0, 3, 6, 9]))]

In [105]:
# matched skills from Resume and JD
for i in np.array(response_index)[0]:
    print(i)
    print(resume_data_skills[i])

In [94]:
#Resume Parsed skills
['Oracle', 'Cassandra Database administration', 'Oracle', 'Cassandra', 'Linux', 'Unix', 'Oracle', 'Oracle 19c', 'Cassandra', 'Talena', 'Datastax', 'Oracle 12c', 'Oracle 19c', 'ServiceNow', 'Unix', 'Linux', 'Oracle', 'Oracle server', 'ITIL Framework', 'Change Management', 'ASM', 'Cassandra', 'Datastax', 'ServiceNow', 'Unix', 'Linux', 'Cassandra', 'Excel']

['Oracle',
 'Cassandra Database administration',
 'Oracle',
 'Cassandra',
 'Linux',
 'Unix',
 'Oracle',
 'Oracle 19c',
 'Cassandra',
 'Talena',
 'Datastax',
 'Oracle 12c',
 'Oracle 19c',
 'ServiceNow',
 'Unix',
 'Linux',
 'Oracle',
 'Oracle server',
 'ITIL Framework',
 'Change Management',
 'ASM',
 'Cassandra',
 'Datastax',
 'ServiceNow',
 'Unix',
 'Linux',
 'Cassandra',
 'Excel']

In [93]:
#JD Parsed skills
['Cassandra', 'AWS', 'Azure', 'Cassandra service', 'AWS', 'AWS', 'Cassandra', 'MongoDB', 'NoSQL databases', 'Cassandra', 'NoSQL DB', 'MongoDB', 'DynamoDB', 'Hadoop', 'RDBMS', 'AWS', 'JSON', 'SQL', 'NoSQL']

['Cassandra',
 'AWS',
 'Azure',
 'Cassandra service',
 'AWS',
 'AWS',
 'Cassandra',
 'MongoDB',
 'NoSQL databases',
 'Cassandra',
 'NoSQL DB',
 'MongoDB',
 'DynamoDB',
 'Hadoop',
 'RDBMS',
 'AWS',
 'JSON',
 'SQL',
 'NoSQL']